html{
  background: url(fundo_bonito.jpg);
  position: absolute;
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}
#menu_principal{
/* display: inline-block; */
font-size: 30px;
font-family:rudiment;
color:white;  
}

.tema{
  border:2.7px solid #142e21;
  font-family:whatever it takes;
  font-weight:bold;
  font-size:28px;
  background-color: #274e3c;
  color: white;
/*   padding:25px 18px; */
  /* text-decoration:none; */
  }
  
#bt_esportes:hover{
  position: relative;
  font-size:30px;
  background-color:#e7ce2c;    
  }
#bt_ytbers:hover{
  position: relative;
  font-size:30px;
  background-color:#e7ce2c;
  }
#bt_animais:hover{
    position: relative;
    font-size:30px;
    background-color:#e7ce2c;
  }
#bt_animais:hover{  
    position: relative;
    font-size:30px;
    background-color:#e7ce2c;
  }
#bt_objetos:hover{
    position: relative;
    font-size:30px;
    background-color:#e7ce2c;
    
  }
#bt_ok:hover{
    position: relative;
    font-size:24px;
    background-color: #e7ce2c;
}
#bt_restart:hover{
  position: relative;
  font-size:25px;
  background-color: #e7ce2c;
}
   
#guess{
  position: relative;
  right:27px;
  top:45px;
/*   border:1.7px solid #142e21; */
  font-family:whatever it takes;
/*   font-weight:bold; */
  font-size:25.3px;
/*   background-color: #274e3c; */
  color: white;
  padding:2.8px 25px;  
}
#letra {
  border:2.7px solid #142e21;
  background-color: #274e3c;
  color:#fff;
  font-family:rudiment;
  font-weight:bold;
  font-size:20px;
  padding: 2.8px 20px;
}
.bt_guess{
  position: relative;
  border:2.7px solid #142e21;
  font-family:whatever it takes;
  background-color: #274e3c;
  color: #fff; 
  top:36px;
  right: 210px;
  font-size: 22px;
  margin: 0.5px;
  font-weight:bold;
}
#P_tema{
  font-size:30px;
  color: yellow;
}
#P_guess{
  margin: 5px;
  font-size:27px;
  color: yellow;
}
#palavraSecreta{
  position: relative;
  font-family:rudiment;
  color:white;  
/*   display: inline; */
  font-size: 75px;
  left: 620px;
  top:-30px;  
}
#bt_dica{
  position: relative;
  left: 645px;
  top: 32px;
}
#letrasErradas{
  position: relative;
  left: 587px;
  top:-410px;
/*   border:1.7px solid #142e21; */
  font-family:whatever it takes;
  font-weight:bold;
  font-size:25.3px;
/*   background-color: #274e3c; */
  color: white;
  padding:2.8px 25px;  
}
.NotIn{
  position: relative;
  left: 209px;
  top:-76px;
   display: inline-block;
  font-size: 45px;
  color:yellow;
  margin: 2.5px;
}